/* CSS for Calculator */

.horn {
    transform: skewY(40deg);
    margin-bottom: -50px;
    width: 50px;
    margin: 50px auto -150px auto;
}
.horn > div {
    border-radius: 100% 0% 100% 0% / 64% 30% 70% 36%;
    margin-bottom: -10px;
    transform: scale(1.5, 2);
    border: solid 2px pink;
}
.horn1{
    background-color: thistle;
    width: 15px;
    height: 30px;
}

.horn2{
    background-color: pink;
    width: 25px;
    height: 30px;
}

.horn3{
    background-color: powderblue;
    width: 35px;
    height: 40px;
}

.horn4{
    background-color: gold;
    width: 45px;
    height: 50px;
}

.horn5{
    background-color: plum;
    width: 50px;
    height: 50px;
}

.ears{
    margin: 0 auto -40px auto;
    display:flex;
    justify-content: space-between;
    width: 400px;
}
.ear_left, .ear_right {
    width: 80px;
    height: 80px;
    background-color: snow;
    border: solid 20px pink;
}
.ear_left{
    border-radius: 50px 50px 50px 10px ;
    transform: rotate(110deg);
    margin-left: -10px;
}
.ear_right{
    border-radius: 50px 50px 50px 10px ;
    transform: rotate(160deg);
    margin-right: -10px;
  }

.eyes{
    background-color: pink;
    border-top: 0px;
    height: 100px;
    width: 394px;
    display:flex;
    justify-content: space-around;
    padding-top: 40px;
    padding-bottom:20px;
    margin-bottom:-10px;
    border-bottom: solid 1.5px #d3a1aab8;
}

.eye_left, .eye_right{
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 58% 42% 100% 0% / 63% 1% 99% 37%;
    background-color: snow;
}

.eye_left{
    transform: rotate(70deg);
    border-left: solid 10px black;
}

.eye_right{
    transform: rotate(21deg);
    border-top: solid 10px black;
  
}

.eyeball_left, .eyeball_right{
    font-size: 30px;
    text-align: center;
    color: white;
    width: 65px;
    height: 65px;
    background-color:black;
    border-bottom: solid 9px plum;
    border-right: solid 9px plum;
    padding: 4.5px;
    border-radius: 50%;
}


.body {
    margin: auto;
    width: 400px;
    height: 600px;
    background-color: hsl(350, 100%, 88%);
    border-radius: 0 0 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    z-index: -5;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.calc {
    width: 300px;
    background-color: plum;
    border: solid 8px #edb1bcb8;
    border-top: solid 5px #c2979fb8;
    border-bottom: solid 5px #e4a0adb8;
    box-shadow: inset 2px 2px 20px rgb(166 128 166);
}

.screen{
    height: 80px;
    background:linear-gradient(45deg, rgba(181,185,182,1) 0%, rgb(196, 201, 198) 43%, rgba(165,171,167,1) 100%);
    margin: 10px 10px;
    border-radius: 5px;
    border-top: 2px solid rgb(109, 110, 109);
    border-left: 1px solid rgb(134, 138, 135);
    border-bottom: 1px solid rgb(134, 138, 135);
    border-right: 1px solid rgb(134, 138, 135);
    box-shadow: inset 2px 2px 20px rgb(109, 110, 109);
    outline: solid 4px rgba(201, 144, 201, 0.938);
    font-size: 1rem;
    font-family: 'Press Start 2P', monospace;
    word-wrap: break-word;

    color:rgb(81, 82, 81);
    padding: 10px 2px 0px 5px;
    box-sizing: border-box;
    text-align: end;
}

.div-btns{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.div-btns>button:active{
    background: rgb(222, 166, 222);
    background: rgb(255, 182, 255);
    box-shadow:inset 3px 3px 10px rgb(156, 129, 156);
    color: rgb(251, 248, 248);
}

.btn-num, .btn-op, .btn-control, #op-equals{
    width: 50px;
    height: 50px;
    background: rgb(255, 182, 255);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 15px;
    margin: 10px;
    line-height: 0.5;
    border-radius: 3px;
    border: solid 2px rgb(184, 133, 184);
    box-shadow: 2px 2px 2px rgb(184, 133, 184), inset 3px 3px 10px rgb(252, 210, 252);
}

.btn-control{
    font-size: .9rem;    
    border-radius: 50%;
    height: 10px;
    line-height: 0.4;
    width: 19.5%;
    margin: 0px 4px;
}

.btn-control:first-child{
    width: 22%;
}

#unicornCard{
position: absolute;
left: 100px;
top: 20px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   border: solid 1px rgb(243, 219, 63);
   border-radius: 5px;
   display: none;
   z-index: 10;
   height: 90%;

}

